/bin
**/build/
!src/**/build/
/dist
/freenet-*
/javadoc
/junitvmwatcher*
/lib/*
!/lib/wrapper/
/generator/js/lib
/generator/js/tests/lib
/generator/js/tests/bin
/generator/js/gwt-unitCache/
/run
.classpath
*.swp
*.iml
*.ipr
*.iws
.*
*~
\#*\#
/override.properties
/gradle.properties
gradle-app.setting