<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<!--
TODO:
Start Oldenet after install finished
Prompt to delete data dir during uninstall
Modify installation including installing/removing service, moving data/installation directory and rollback.
Uninstall icon
Find available ports for oldenet and update freenet.ini
Add oredcli.bat to PATH
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     RequiredVersion="3.11.2.4516">
    <Product Id="FE39C52F-47BD-4BED-96C7-08307BFF22B2"
             Name="Oldenet"
             Language="1033" Version="1.0.1493"
             Manufacturer="Oldenet"
             UpgradeCode="05E713E3-8944-4DBB-B606-901AAA4E01FB">
        <Package InstallerVersion="301"
                 Compressed="yes"
                 Manufacturer="Oldenet"
                 Description="Oldenet" Keywords="Freenet,Oldenet,ored"
                 Comments="(c) 2012 Awesome Company"/>
        <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
        <MajorUpgrade
                DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

        <Property Id="ARPNOREPAIR" Value="yes" Secure="yes"/>
        <Property Id="ARPNOMODIFY" Value="yes" Secure="yes"/>

        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Oldenet"/>
        <WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf"/>

        <UIRef Id="WixUI_Oldenet"/>

        <Property Id="ApplicationFolderName" Value="Oldenet"/>
        <Property Id="WixAppFolder" Value="WixPerUserFolder"/>

        <!-- Directories -->
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="APPLICATIONFOLDER" Name="Oldenet"/>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="Oldenet"/>
            </Directory>
        </Directory>

        <!-- Shortcuts -->
        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="cmpApplicationShortcut" Guid="2870EF92-588C-4371-B9DE-23CD05B627E6">
                <Shortcut Id="StartOldenetShortcut"
                          Name="Oldenet"
                          Description="Start Oldenet"
                          Target="[!filWrapperExe]"
                          Arguments="cli"
                          WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
                <Shortcut Id="UninstallShortcut" Name="Uninstall Oldenet"
                          Description="Uninstalls Oldenet and all of its components"
                          Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]"/>
                <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue Root="HKCU" Key="Software\Oldenet\Oldenet" Name="installed" Type="integer"
                               Value="1" KeyPath="yes"/>
            </Component>
            <Directory Id="dirShortcutService" Name="Service">
                <Component Id="cmpServiceShortcut" Guid="1A76E179-CBF6-440A-AEC4-B44652CDC8D8">
                    <!-- Avoid ICE18 error -->
                    <!-- CreateFolder -->
                    <Shortcut Id="StartOldenetServiceShortcut"
                              Name="Start Oldenet Service"
                              Description="Start Oldenet Service"
                              Target="[!filWrapperExe]"
                              Arguments="-t &quot;[!filWrapperConf]&quot;"
                              WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
                    <Shortcut Id="StopOldenetServiceShortcut"
                              Name="Stop Oldenet Service"
                              Description="Stop Oldenet Service"
                              Target="[!filWrapperExe]"
                              Arguments="-p &quot;[!filWrapperConf]&quot;"
                              WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
                    <RemoveFolder Id="CleanUpShortCutService" Directory="dirShortcutService" On="uninstall"/>
                    <RegistryValue Root="HKCU" Key="Software\Oldenet\Oldenet\Service" Name="installed" Type="integer"
                                   Value="1" KeyPath="yes"/>
                </Component>
            </Directory>
        </DirectoryRef>

        <!-- Features -->
        <Feature Id="NormalFeature" Title="Normal Installation" Level="1">
            <ComponentGroupRef Id="cmpgNewFilesGroup"/>
            <ComponentRef Id="cmpWrapperCustomConf"/>
            <ComponentRef Id="cmpApplicationShortcut"/>
            <Feature Id="ServiceFeature" Title="Service Installation" Level="100">
                <ComponentRef Id="cmpServiceShortcut"/>
            </Feature>
        </Feature>

        <CustomActionRef Id="WixFailWhenDeferred"/>

        <!-- Create custom configuration file for Wrapper -->
        <SetProperty Id="QtExecCreateWrapperConf"
                     Value="&quot;[#filoredcli]&quot; wrapperconf --ini-path=&quot;[OREDDATAFOLDER]ored\freenet.ini&quot; &quot;[$cmpWrapperConf]wrapper_custom.conf&quot;"
                     Sequence="execute" Before="QtExecCreateWrapperConf"/>
        <CustomAction Id="QtExecCreateWrapperConf" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="deferred" Return="check" Impersonate="yes"/>
        <SetProperty Id="QtExecCreateWrapperConfAllusers"
                     Value="&quot;[#filoredcli]&quot; wrapperconf --ini-path=&quot;[OREDDATAFOLDER]ored\freenet.ini&quot; &quot;[$cmpWrapperConf]wrapper_custom.conf&quot;"
                     Sequence="execute" Before="QtExecCreateWrapperConfAllusers"/>
        <CustomAction Id="QtExecCreateWrapperConfAllusers" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="deferred" Return="check" Impersonate="no"/>
        <!-- Rollback: Delete custom configuration file for Wrapper if something bad happens -->
        <SetProperty Id="RollbackCreateWrapperConf"
                     Value="&quot;cmd.exe&quot; /C &quot;cd /d &apos;[APPLICATIONFOLDER]&apos; &amp;&amp; del &apos;[$cmpWrapperConf]wrapper_custom.conf&apos;&quot;"
                     Sequence="execute" Before="RollbackCreateWrapperConf"/>
        <CustomAction Id="RollbackCreateWrapperConf" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="rollback" Return="ignore" Impersonate="yes"/>
        <SetProperty Id="RollbackCreateWrapperConfAllusers"
                     Value="&quot;cmd.exe&quot; /C &quot;cd /d &apos;[APPLICATIONFOLDER]&apos; &amp;&amp; del &apos;[$cmpWrapperConf]wrapper_custom.conf&apos;&quot;"
                     Sequence="execute" Before="RollbackCreateWrapperConfAllusers"/>
        <CustomAction Id="RollbackCreateWrapperConfAllusers" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="rollback" Return="ignore" Impersonate="no"/>

        <!-- Remove custom configuration file for Wrapper during uninstall -->
        <DirectoryRef Id="dirCA7C0207AC03E4CC75B8991A675418D8">
            <Component Id="cmpWrapperCustomConf" Guid="3AC82ACF-269A-41DB-86C6-C6B8AE428A05">
                <RemoveFile Id="removeWrapperCustomConf" On="uninstall" Name="wrapper_custom.conf"/>
            </Component>
        </DirectoryRef>

        <!-- Install / uninstall service -->
        <SetProperty Id="QtExecInstallService"
                     Value="&quot;[#filWrapperExe]&quot; -i &quot;[#filWrapperConf]&quot;"
                     Sequence="execute" Before="QtExecInstallService"/>
        <CustomAction Id="QtExecInstallService" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="deferred" Return="check" Impersonate="no"/>
        <SetProperty Id="RollbackInstallService"
                     Value="&quot;[#filWrapperExe]&quot; -r &quot;[#filWrapperConf]&quot;"
                     Sequence="execute" Before="RollbackInstallService"/>
        <CustomAction Id="RollbackInstallService" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="rollback" Return="ignore" Impersonate="no"/>

        <SetProperty Id="QtExecUninstallService"
                     Value="&quot;[#filWrapperExe]&quot; -r &quot;[#filWrapperConf]&quot;"
                     Sequence="execute" Before="QtExecUninstallService"/>
        <CustomAction Id="QtExecUninstallService" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="deferred" Return="check" Impersonate="no"/>
        <SetProperty Id="RollbackUninstallService"
                     Value="&quot;[#filWrapperExe]&quot; -i &quot;[#filWrapperConf]&quot;"
                     Sequence="execute" Before="RollbackUninstallService"/>
        <CustomAction Id="RollbackUninstallService" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="rollback" Return="ignore" Impersonate="no"/>

        <!-- Start / stop service -->
        <SetProperty Id="QtExecStartService"
                     Value="&quot;[#filWrapperExe]&quot; -t &quot;[#filWrapperConf]&quot;"
                     Sequence="execute" Before="QtExecStartService"/>
        <CustomAction Id="QtExecStartService" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="deferred" Return="ignore" Impersonate="no"/>
        <SetProperty Id="QtExecStopService"
                     Value="&quot;[#filWrapperExe]&quot; -p &quot;[#filWrapperConf]&quot;"
                     Sequence="execute" Before="QtExecStopService"/>
        <CustomAction Id="QtExecStopService" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="deferred" Return="ignore" Impersonate="no"/>

        <!-- Launch Oldenet and open browser -->


        <InstallExecuteSequence>
            <Custom Action="QtExecCreateWrapperConf" Before="InstallFinalize">
                NOT Installed AND NOT REMOVE
                AND
                (ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged)))
            </Custom>
            <Custom Action="QtExecCreateWrapperConfAllusers" Before="InstallFinalize">
                NOT Installed AND NOT REMOVE
                AND
                (ALLUSERS=1 OR (ALLUSERS=2 AND Privileged))
            </Custom>
            <Custom Action="RollbackCreateWrapperConf" Before="QtExecCreateWrapperConf">
                ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged))
            </Custom>
            <Custom Action="RollbackCreateWrapperConfAllusers" Before="QtExecCreateWrapperConf">
                ALLUSERS=1 OR (ALLUSERS=2 AND Privileged)
            </Custom>

            <Custom Action="QtExecInstallService" After="QtExecCreateWrapperConf">
                <![CDATA[!ServiceFeature<>3 AND &ServiceFeature=3]]></Custom>
            <Custom Action="RollbackInstallService" Before="QtExecInstallService"/>

            <Custom Action="QtExecStartService" After="QtExecInstallService">
                <![CDATA[!ServiceFeature<>3 AND &ServiceFeature=3]]></Custom>

            <Custom Action="QtExecStopService" Before="RemoveFiles">
                <![CDATA[!ServiceFeature=3 AND (REMOVE~="ALL" OR &ServiceFeature=2)]]></Custom>
            <Custom Action="QtExecUninstallService" After="QtExecStopService">
                <![CDATA[!ServiceFeature=3 AND (REMOVE~="ALL" OR &ServiceFeature=2)]]></Custom>
            <Custom Action="RollbackUninstallService" Before="QtExecStopService">
                <![CDATA[!ServiceFeature=3 AND (REMOVE~="ALL" OR &ServiceFeature=2)]]></Custom>
        </InstallExecuteSequence>

    </Product>
</Wix>