<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->
<!--
TODO:
Service installation
Start Oldenet after install finished
Modify installation including installing/removing service, moving data/installation directory and rollback.
Uninstall icon
Prompt to delete data dir during uninstall
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     RequiredVersion="3.11.2.4516">
    <Product Id="FE39C52F-47BD-4BED-96C7-08307BFF22B2"
             Name="Oldenet"
             Language="1033" Version="1.0.1493"
             Manufacturer="Oldenet"
             UpgradeCode="05E713E3-8944-4DBB-B606-901AAA4E01FB">
        <Package InstallerVersion="301"
                 Compressed="yes"
                 Manufacturer="Oldenet"
                 Description="Oldenet" Keywords="Freenet,Oldenet,ored"
                 Comments="(c) 2012 Awesome Company"/>
        <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
        <MajorUpgrade
                DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

        <WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf"/>

        <UIRef Id="WixUI_Oldenet"/>

        <Property Id="ApplicationFolderName" Value="Oldenet"/>
        <Property Id="WixAppFolder" Value="WixPerUserFolder"/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="APPLICATIONFOLDER" Name="Oldenet"/>
            </Directory>
        </Directory>

        <!-- Features -->
        <Feature Id="NormalFeature" Title="Normal Installation" Level="1">
            <ComponentGroupRef Id="CMP_NewFilesGroup"/>
            <ComponentRef Id="cmpWrapperCustomConf"/>
        </Feature>

        <Feature Id="ServiceFeature" Title="Service Installation" Level="100">

        </Feature>

        <CustomActionRef Id="WixFailWhenDeferred"/>

        <!-- Create custom configuration file for Wrapper -->
        <SetProperty Id="QtExecCreateWrapperConf"
                     Value="&quot;[APPLICATIONFOLDER]bin\oredcli.bat&quot; wrapperconf --ini-path=&quot;[OREDDATAFOLDER]ored\freenet.ini&quot; ..\conf\wrapper_custom.conf"
                     Sequence="execute" Before="QtExecCreateWrapperConf"/>
        <CustomAction Id="QtExecCreateWrapperConf" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="deferred" Return="check" Impersonate="yes"/>
        <SetProperty Id="QtExecCreateWrapperConfAllusers"
                     Value="&quot;[APPLICATIONFOLDER]bin\oredcli.bat&quot; wrapperconf --ini-path=&quot;[OREDDATAFOLDER]ored\freenet.ini&quot; ..\conf\wrapper_custom.conf"
                     Sequence="execute" Before="QtExecCreateWrapperConfAllusers"/>
        <CustomAction Id="QtExecCreateWrapperConfAllusers" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="deferred" Return="check" Impersonate="no"/>
        <!-- Rollback: Delete custom configuration file for Wrapper if something bad happens -->
        <SetProperty Id="RollbackCreateWrapperConf"
                     Value="&quot;cmd.exe&quot; /C &quot;cd /d [APPLICATIONFOLDER] &amp;&amp; del conf\wrapper_custom.conf&quot;"
                     Sequence="execute" Before="RollbackCreateWrapperConf"/>
        <CustomAction Id="RollbackCreateWrapperConf" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="rollback" Return="ignore" Impersonate="yes"/>
        <SetProperty Id="RollbackCreateWrapperConfAllusers"
                     Value="&quot;cmd.exe&quot; /C &quot;cd /d [APPLICATIONFOLDER] &amp;&amp; del conf\wrapper_custom.conf&quot;"
                     Sequence="execute" Before="RollbackCreateWrapperConfAllusers"/>
        <CustomAction Id="RollbackCreateWrapperConfAllusers" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="rollback" Return="ignore" Impersonate="no"/>

        <!-- Remove custom configuration file for Wrapper during uninstall -->
        <DirectoryRef Id="dirCA7C0207AC03E4CC75B8991A675418D8">
            <Component Id="cmpWrapperCustomConf" Guid="3AC82ACF-269A-41DB-86C6-C6B8AE428A05">
                <RemoveFile Id="removeWrapperCustomConf" On="uninstall" Name="wrapper_custom.conf"/>
            </Component>
        </DirectoryRef>

        <!-- Install / uninstall service -->
        <SetProperty Id="QtExecInstallService"
                     Value="&quot;[APPLICATIONFOLDER]bin\wrapper.exe&quot; -i ..\conf\wrapper.conf"
                     Sequence="execute" Before="QtExecInstallService"/>
        <CustomAction Id="QtExecInstallService" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="deferred" Return="check" Impersonate="no"/>
        <SetProperty Id="RollbackInstallService"
                     Value="&quot;[APPLICATIONFOLDER]bin\wrapper.exe&quot; -r ..\conf\wrapper.conf"
                     Sequence="execute" Before="RollbackInstallService"/>
        <CustomAction Id="RollbackInstallService" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="rollback" Return="ignore" Impersonate="no"/>

        <SetProperty Id="QtExecUninstallService"
                     Value="&quot;[APPLICATIONFOLDER]bin\wrapper.exe&quot; -r ..\conf\wrapper.conf"
                     Sequence="execute" Before="QtExecUninstallService"/>
        <CustomAction Id="QtExecUninstallService" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="deferred" Return="check" Impersonate="no"/>
        <SetProperty Id="RollbackUninstallService"
                     Value="&quot;[APPLICATIONFOLDER]bin\wrapper.exe&quot; -i ..\conf\wrapper.conf"
                     Sequence="execute" Before="RollbackUninstallService"/>
        <CustomAction Id="RollbackUninstallService" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="rollback" Return="ignore" Impersonate="no"/>

        <!--        <SetProperty Id="QtExecStartService"-->
        <!--                     Value="&quot;[APPLICATIONFOLDER]bin\wrapper.exe&quot; -t ..\conf\wrapper.conf"-->
        <!--                     Sequence="execute" Before="QtExecStartService"/>-->
        <!--        <CustomAction Id="QtExecStartService" BinaryKey="WixCA" DllEntry="WixQuietExec64"-->
        <!--                      Execute="deferred" Return="check"/>-->
        <SetProperty Id="QtExecStopService"
                     Value="&quot;[APPLICATIONFOLDER]bin\wrapper.exe&quot; -p ..\conf\wrapper.conf"
                     Sequence="execute" Before="QtExecStopService"/>
        <CustomAction Id="QtExecStopService" BinaryKey="WixCA" DllEntry="WixQuietExec64"
                      Execute="deferred" Return="check" Impersonate="no"/>


        <InstallExecuteSequence>
            <Custom Action="QtExecCreateWrapperConf" Before="InstallFinalize">
                NOT Installed AND NOT REMOVE
                AND
                (ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged)))
            </Custom>
            <Custom Action="QtExecCreateWrapperConfAllusers" Before="InstallFinalize">
                NOT Installed AND NOT REMOVE
                AND
                (ALLUSERS=1 OR (ALLUSERS=2 AND Privileged))
            </Custom>
            <Custom Action="RollbackCreateWrapperConf" Before="QtExecCreateWrapperConf">
                ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged))
            </Custom>
            <Custom Action="RollbackCreateWrapperConfAllusers" Before="QtExecCreateWrapperConf">
                ALLUSERS=1 OR (ALLUSERS=2 AND Privileged)
            </Custom>
            <Custom Action="QtExecInstallService" After="QtExecCreateWrapperConf">
                <![CDATA[NOT !ServiceFeature=3 AND &ServiceFeature=3]]></Custom>
            <Custom Action="RollbackInstallService" Before="QtExecInstallService"/>

            <Custom Action="QtExecStopService" Before="RemoveFiles">
                <![CDATA[!ServiceFeature=3 AND (NOT &ServiceFeature=3 OR REMOVE~="ALL" OR UPGRADINGPRODUCTCODE)]]></Custom>
            <Custom Action="QtExecUninstallService" After="QtExecStopService">
                <![CDATA[!ServiceFeature=3 AND (NOT &ServiceFeature=3 OR REMOVE~="ALL" OR UPGRADINGPRODUCTCODE)]]></Custom>
            <Custom Action="RollbackUninstallService" Before="QtExecStopService">
                <![CDATA[!ServiceFeature=3 AND (NOT &ServiceFeature=3 OR REMOVE~="ALL" OR UPGRADINGPRODUCTCODE)]]></Custom>
        </InstallExecuteSequence>

    </Product>
</Wix>