<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) .NET Foundation and contributors. All rights reserved. Licensed under the Microsoft Reciprocal License. See LICENSE.TXT file in the project root for full license information. -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <WixVariable Id="WixUISupportPerUser" Value="1"/>
        <WixVariable Id="WixUISupportPerMachine" Value="1"/>

        <PropertyRef Id="ApplicationFolderName"/>

        <CustomAction Id="WixSetDefaultPerUserAppFolder" Property="WixPerUserAppFolder"
                      Value="[LocalAppDataFolder]Apps\[ApplicationFolderName]" Execute="immediate"/>
        <CustomAction Id="WixSetDefaultPerMachineAppFolder" Property="WixPerMachineAppFolder"
                      Value="[ProgramFilesFolder][ApplicationFolderName]" Execute="immediate"/>
        <CustomAction Id="WixSetDefaultPerMachineAppFolder64" Property="WixPerMachineAppFolder"
                      Value="[ProgramFiles64Folder][ApplicationFolderName]" Execute="immediate"/>

        <CustomAction Id="WixSetPerUserAppFolder" Property="APPLICATIONFOLDER" Value="[WixPerUserAppFolder]"
                      Execute="immediate"/>
        <CustomAction Id="WixSetPerMachineAppFolder" Property="APPLICATIONFOLDER" Value="[WixPerMachineAppFolder]"
                      Execute="immediate"/>

        <CustomAction Id="WixSetDefaultPerUserOredDataFolder" Property="WixPerUserOredDataFolder"
                      Value="[LocalAppDataFolder][ApplicationFolderName]\" Execute="immediate"/>
        <CustomAction Id="WixSetDefaultPerMachineOredDataFolder" Property="WixPerMachineOredDataFolder"
                      Value="[CommonAppDataFolder][ApplicationFolderName]\" Execute="immediate"/>

        <CustomAction Id="WixSetPerUserOredDataFolder" Property="OREDDATAFOLDER"
                      Value="[WixPerUserOredDataFolder]" Execute="immediate"/>
        <CustomAction Id="WixSetPerMachineOredDataFolder" Property="OREDDATAFOLDER"
                      Value="[WixPerMachineOredDataFolder]" Execute="immediate"/>

        <InstallExecuteSequence>
            <Custom Action="WixSetDefaultPerUserAppFolder" Before="CostFinalize"/>
            <Custom Action="WixSetDefaultPerMachineAppFolder" After="WixSetDefaultPerUserAppFolder">
                Not VersionNT64
            </Custom>
            <Custom Action="WixSetDefaultPerMachineAppFolder64" After="WixSetDefaultPerMachineAppFolder">
                VersionNT64
            </Custom>
            <Custom Action="WixSetPerUserAppFolder" After="WixSetDefaultPerMachineAppFolder64">
                ACTION="INSTALL"
                AND
                APPLICATIONFOLDER=""
                AND
                (ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged)))
            </Custom>
            <Custom Action="WixSetPerMachineAppFolder" After="WixSetPerUserAppFolder">
                ACTION="INSTALL"
                AND
                APPLICATIONFOLDER=""
                AND
                (ALLUSERS=1 OR (ALLUSERS=2 AND Privileged))
            </Custom>
            <Custom Action="WixSetDefaultPerUserOredDataFolder" After="WixSetPerMachineAppFolder"/>
            <Custom Action="WixSetDefaultPerMachineOredDataFolder" After="WixSetDefaultPerUserOredDataFolder"/>
            <Custom Action="WixSetPerUserOredDataFolder" After="WixSetDefaultPerMachineOredDataFolder">
                OREDDATAFOLDER=""
            </Custom>
        </InstallExecuteSequence>
        <InstallUISequence>
            <Custom Action="WixSetDefaultPerUserAppFolder" Before="CostFinalize"/>
            <Custom Action="WixSetDefaultPerMachineAppFolder" After="WixSetDefaultPerUserAppFolder">
                Not VersionNT64
            </Custom>
            <Custom Action="WixSetDefaultPerMachineAppFolder64" After="WixSetDefaultPerMachineAppFolder">
                VersionNT64
            </Custom>
            <Custom Action="WixSetPerUserAppFolder" After="WixSetDefaultPerMachineAppFolder64">
                ACTION="INSTALL"
                AND
                APPLICATIONFOLDER=""
                AND
                (ALLUSERS="" OR (ALLUSERS=2 AND (NOT Privileged)))
            </Custom>
            <Custom Action="WixSetPerMachineAppFolder" After="WixSetPerUserAppFolder">
                ACTION="INSTALL"
                AND
                APPLICATIONFOLDER=""
                AND
                (ALLUSERS=1 OR (ALLUSERS=2 AND Privileged))
            </Custom>
            <Custom Action="WixSetDefaultPerUserOredDataFolder" After="WixSetPerMachineAppFolder"/>
            <Custom Action="WixSetDefaultPerMachineOredDataFolder" After="WixSetDefaultPerUserOredDataFolder"/>
            <Custom Action="WixSetPerUserOredDataFolder" After="WixSetDefaultPerMachineOredDataFolder"/>
        </InstallUISequence>

        <UI Id="WixUI_Oldenet">
            <TextStyle Id="WixUI_Font_Normal" FaceName="!(loc.Advanced_Font_FaceName)"
                       Size="!(loc.Advanced_Font_Normal_Size)"/>
            <TextStyle Id="WixUI_Font_Bigger" FaceName="!(loc.Advanced_Font_FaceName)"
                       Size="!(loc.Advanced_Font_Bigger_Size)"/>
            <TextStyle Id="WixUI_Font_Title" FaceName="!(loc.Advanced_Font_FaceName)"
                       Size="!(loc.Advanced_Font_Title_Size)" Bold="yes"/>
            <TextStyle Id="WixUI_Font_Emphasized" FaceName="!(loc.Advanced_Font_FaceName)"
                       Size="!(loc.Advanced_Font_Emphasized_Size)" Bold="yes"/>

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal"/>
            <Property Id="WixUI_Mode" Value="Advanced"/>

            <DialogRef Id="BrowseDlg"/>
            <DialogRef Id="DiskCostDlg"/>
            <DialogRef Id="ErrorDlg"/>
            <DialogRef Id="FatalError"/>
            <!-- https://stackoverflow.com/questions/33248658/how-does-the-msi-installer-installvalidate-determine-files-in-use -->
            <!-- <DialogRef Id="FilesInUse"/> -->
            <!-- <DialogRef Id="MsiRMFilesInUse"/> -->
            <DialogRef Id="PrepareDlg"/>
            <DialogRef Id="ProgressDlg"/>
            <DialogRef Id="ResumeDlg"/>
            <DialogRef Id="UserExit"/>
            <DialogRef Id="WelcomeDlg"/>
            <DialogRef Id="UninstallWelcomeDlg"/>

            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

            <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="1">1</Publish>
            <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="2">
                <![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]>
            </Publish>

            <!-- AdvancedWelcomeEulaDlg -->
            <Publish Dialog="AdvancedWelcomeEulaDlg" Control="Advanced" Event="NewDialog" Value="OredSetupTypeDlg">
                1
            </Publish>

            <!-- OredSetupTypeDlg -->
            <Publish Dialog="OredSetupTypeDlg" Control="Back" Property="WixUI_InstallMode" Value="InstallNormal"
                     Order="1">
                NOT Installed
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="Back" Property="ALLUSERS" Value="{}" Order="2">
                NOT Installed
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="Back" Event="DoAction" Value="WixSetPerUserOredDataFolder"
                     Order="3">
                NOT Installed
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="Back" Event="DoAction" Value="WixSetPerUserAppFolder"
                     Order="4">
                NOT Installed
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="Back" Event="NewDialog" Value="AdvancedWelcomeEulaDlg"
                     Order="5">
                NOT Installed
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="Back" Event="SetInstallLevel" Value="50"
                     Order="6">
                NOT Installed
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="Back" Event="NewDialog" Value="OredMaintenanceTypeDlg"
                     Order="6">
                Installed
            </Publish>

            <Publish Dialog="OredSetupTypeDlg" Control="NormalButton" Property="ALLUSERS" Value="{}" Order="1">
                1
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="NormalButton" Event="DoAction"
                     Value="WixSetPerUserOredDataFolder"
                     Order="2">
                1
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="NormalButton" Event="DoAction"
                     Value="WixSetPerUserAppFolder"
                     Order="3">
                1
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="NormalButton" Event="SetInstallLevel"
                     Value="50"
                     Order="4">
                1
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="NormalButton" Event="NewDialog" Value="InstallScopeDlg"
                     Order="5">
                1
            </Publish>

            <Publish Dialog="OredSetupTypeDlg" Control="ServiceButton" Property="ALLUSERS" Value="1" Order="1">
                1
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="ServiceButton" Event="DoAction"
                     Value="WixSetPerMachineAppFolder"
                     Order="2">
                NOT Installed
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="ServiceButton" Event="DoAction"
                     Value="WixSetPerMachineOredDataFolder"
                     Order="3">
                NOT Installed
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="ServiceButton" Event="SetInstallLevel"
                     Value="200"
                     Order="4">
                1
            </Publish>
            <Publish Dialog="OredSetupTypeDlg" Control="ServiceButton" Event="NewDialog" Value="InstallDataDirDlg"
                     Order="5">
                1
            </Publish>

            <!-- InstallScopeDlg -->
            <Publish Dialog="InstallScopeDlg" Control="Back" Event="NewDialog" Value="OredSetupTypeDlg">
                1
            </Publish>

            <Publish Dialog="InstallScopeDlg" Control="Next" Property="WixAppFolder" Value="WixPerUserAppFolder"
                     Order="1">
                NOT Privileged
            </Publish>
            <Publish Dialog="InstallScopeDlg" Control="Next" Property="ALLUSERS" Value="{}" Order="2">
                WixAppFolder = "WixPerUserFolder"
            </Publish>
            <Publish Dialog="InstallScopeDlg" Control="Next" Property="ALLUSERS" Value="1" Order="3">
                WixAppFolder = "WixPerMachineFolder"
            </Publish>
            <Publish Dialog="InstallScopeDlg" Control="Next" Event="DoAction" Value="WixSetPerUserAppFolder" Order="4">
                NOT Installed
                AND
                WixAppFolder = "WixPerUserFolder"
            </Publish>
            <Publish Dialog="InstallScopeDlg" Control="Next" Event="DoAction" Value="WixSetPerMachineAppFolder"
                     Order="5">
                NOT Installed
                AND
                WixAppFolder = "WixPerMachineFolder"
            </Publish>
            <Publish Dialog="InstallScopeDlg" Control="Next" Event="DoAction" Value="WixSetPerUserOredDataFolder"
                     Order="6">
                NOT Installed
                AND
                WixAppFolder = "WixPerUserFolder"
            </Publish>
            <Publish Dialog="InstallScopeDlg" Control="Next" Event="DoAction" Value="WixSetPerMachineOredDataFolder"
                     Order="7">
                NOT Installed
                AND
                WixAppFolder = "WixPerMachineFolder"
            </Publish>
            <Publish Dialog="InstallScopeDlg" Control="Next" Event="NewDialog" Value="InstallDataDirDlg" Order="6">
                1
            </Publish>

            <!-- InstallDataDirDlg -->
            <Publish Dialog="InstallDataDirDlg" Control="Back" Event="NewDialog" Value="InstallScopeDlg" Order="1">
                WixUI_InstallMode = "InstallNormal"
            </Publish>
            <Publish Dialog="InstallDataDirDlg" Control="Back" Event="NewDialog" Value="OredSetupTypeDlg" Order="2">
                WixUI_InstallMode = "InstallService"
            </Publish>

            <Publish Dialog="InstallDataDirDlg" Control="Install" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]"
                     Order="1">1
            </Publish>
            <Publish Dialog="InstallDataDirDlg" Control="Install" Event="DoAction" Value="WixUIValidatePath" Order="2">
                NOT WIXUI_DONTVALIDATEPATH
            </Publish>
            <Publish Dialog="InstallDataDirDlg" Control="Install" Event="SpawnDialog" Value="InvalidDirDlg" Order="3">
                <![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]>
            </Publish>

            <Publish Dialog="InstallDataDirDlg" Control="InstallNoShield" Event="SetTargetPath"
                     Value="[WIXUI_INSTALLDIR]"
                     Order="1">1
            </Publish>
            <Publish Dialog="InstallDataDirDlg" Control="InstallNoShield" Event="DoAction" Value="WixUIValidatePath"
                     Order="2">
                NOT WIXUI_DONTVALIDATEPATH
            </Publish>
            <Publish Dialog="InstallDataDirDlg" Control="InstallNoShield" Event="SpawnDialog" Value="InvalidDirDlg"
                     Order="3">
                <![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]>
            </Publish>

            <Publish Dialog="InstallDataDirDlg" Control="Change" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]"
                     Order="1">1
            </Publish>
            <Publish Dialog="InstallDataDirDlg" Control="Change" Event="DoAction" Value="WixUIValidatePath" Order="2">
                NOT WIXUI_DONTVALIDATEPATH
            </Publish>
            <Publish Dialog="InstallDataDirDlg" Control="Change" Event="SpawnDialog" Value="InvalidDirDlg" Order="3">
                <![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]>
            </Publish>

            <Publish Dialog="InstallDataDirDlg" Control="ChangeNoShield" Event="SetTargetPath"
                     Value="[WIXUI_INSTALLDIR]"
                     Order="1">1
            </Publish>
            <Publish Dialog="InstallDataDirDlg" Control="ChangeNoShield" Event="DoAction" Value="WixUIValidatePath"
                     Order="2">
                NOT WIXUI_DONTVALIDATEPATH
            </Publish>
            <Publish Dialog="InstallDataDirDlg" Control="ChangeNoShield" Event="SpawnDialog" Value="InvalidDirDlg"
                     Order="3">
                <![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]>
            </Publish>

            <Publish Dialog="InstallDataDirDlg" Control="ChangeFolder" Property="_BrowseProperty"
                     Value="[WIXUI_INSTALLDIR]"
                     Order="1">
                1
            </Publish>
            <Publish Dialog="InstallDataDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">
                1
            </Publish>

            <Publish Dialog="InstallDataDirDlg" Control="ChangeDataFolder" Property="_BrowseProperty"
                     Value="[WIXUI_INSTALLDIR]"
                     Order="1">
                1
            </Publish>
            <Publish Dialog="InstallDataDirDlg" Control="ChangeDataFolder" Event="SpawnDialog" Value="BrowseDlg"
                     Order="2">
                1
            </Publish>

            <!-- MaintenanceWelcomeDlg -->
            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="OredMaintenanceTypeDlg">
                1
            </Publish>
            <Publish Dialog="OredMaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="OredSetupTypeDlg">
                1
            </Publish>
            <Publish Dialog="OredMaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">
                1
            </Publish>
            <Publish Dialog="OredMaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog"
                     Value="UninstallWelcomeDlg">
                1
            </Publish>
            <Publish Dialog="OredMaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">
                1
            </Publish>

            <!-- VerifyReadyDlg -->
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="OredMaintenanceTypeDlg" Order="2">
                Installed AND NOT PATCH
            </Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">
                Installed AND PATCH
            </Publish>

            <!-- WelcomeDlg -->
            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">
                Installed AND PATCH
            </Publish>

            <!-- UninstallWelcomeDlg -->
            <Publish Dialog="UninstallWelcomeDlg" Control="Uninstall" Property="DELDATADIR" Value="1" Order="1">
                WIXUI_DELDATACHECKBOX = 1
            </Publish>
            <Publish Dialog="UninstallWelcomeDlg" Control="Uninstall" Property="DELDATADIR" Value="0" Order="2">
                NOT WIXUI_DELDATACHECKBOX = 1
            </Publish>
            <Publish Dialog="UninstallWelcomeDlg" Control="Uninstall" Property="REMOVE" Value="ALL" Order="3">
                1
            </Publish>
            <Publish Dialog="UninstallWelcomeDlg" Control="Uninstall" Event="EndDialog" Value="Return" Order="999">
                1
            </Publish>

            <!-- ExitDialog -->
            <Publish Dialog="ExitDialog"
                     Control="Finish"
                     Event="DoAction"
                     Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
            </Publish>
        </UI>

        <InstallUISequence>
            <Show Dialog="WelcomeDlg" Before="AdvancedWelcomeEulaDlg">Installed AND PATCH</Show>
        </InstallUISequence>

        <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER"/>
        <Property Id="WIXUI_DATADIR" Value="OREDDATAFOLDER"/>
        <UIRef Id="WixUI_Common"/>
    </Fragment>
</Wix>
